*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  width: 100%;
  background-color: #809faa;
}

.section .service{
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 30px;
}


.title h1{
  text-align: center;
  padding-top: 50px;
  font-size: 43px;
}

.title h1::after{
  content: '';
  height: 4px;
  width: 230px;
  background-color: #298;
  display: block;
  margin: auto;
}

.service{
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
  text-align: center;
}

.card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 20px;
  padding: 20px 20px;
  background-color: #efefef;
  border-radius: 10px;
  cursor: pointer;
}

.card:hover{
  background-color: #b8d4de;
  transition: 0.4s ease;
}

.card .icon{
  font-size: 35px;
  margin-bottom: 10px;
}

.card h2{
  font-size: 28px;
  color: #228B22;
}

.card p:hover{
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  
}

.card p{
  font-size: 17px;
  margin-bottom: 30px;
  line-height: 1.5;
  color: #5e5e5e;
}

.button{
  font-size: 15px;
  text-decoration: none;
  color: #fff;
  background-color: #45a049;
  padding: 8px 12px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.button:hover{
  opacity: 0.9;
  color: white;
  transition: 0.4s ease;
}

@media screen and (max-width: 900px){
  .section .service {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px){
  .section .service{
    grid-template-columns: 1fr;
  }

}